body {
  background-color: rgb(187, 199, 199);
}

h1 {
  text-align: center;
}

p {
  font-size: 25px;
}

form {
  padding:10px
}

.container {
  text-align: center;
}
.button{
  padding:5px;
}

#img-header {
  width: 30px;
}

img {
  width: 100px;
}

header {
  margin: 30px;
  color: #792f2f;
  text-align: center;
  font-size: 40px;
  padding: 10px;
}

.dice {
  text-align: center;
  display: inline-block;
}

/* table,
th,
td {
  border: 1px solid gray;
  text-align: cente;
} */
