body {
  background-color: rgb(230, 233, 245);
}

h1 {
  text-align: center;
}

p {
  font-size: 25px;
}

form {
  padding: 10px;
}

.container {
  text-align: center;
  display: flex;
  justify-content: center;
}

.containerPlayground {
  background-color: #bad1eb;
  width: 10cm;
  padding: 10px 25px;
  min-height: 11cm;
}

.containerScore {
  background-color: #a5bad3;
  width: 10cm;
  padding: 10px 25px;
}

.button {
  padding: 5px;
}

#myButton {
  background-color: rgb(212, 73, 101);
  border-radius: 45px;
  padding: 10px;
  color: rgb(20, 18, 18);
  width: 100px;
}

#img-header {
  width: 30px;
  vertical-align: middle;
}

img {
  width: 150px;
  padding-bottom: 20px;
}

header {
  margin: 20px;
  color: #792f2f;
  text-align: center;
  font-size: 35px;
  padding: 10px;
}

footer {
  color: #792f2f;
  text-align: center;
  padding-top: 30px;
}

.dice {
  text-align: center;
  display: inline-block;
}

thead {
  background-color: rgb(146, 230, 230);
}
table,
th,
td {
  text-align: center;
  border: 1px solid rgb(10, 25, 53);
  text-align: cente;
}

td {
  width: 3cm;
}
